<h1>Welcome to WeGym</h1>
<p>You can sign up for memberships at various gyms that match your needs. If you are a gym owner and want to sell your membership, please register.</p>

<br />

<h3>Our Gyms</h3>
<table class="table table-striped table-bordered">
  <tr>
    <th>Owner</th>    
    <th>Gym</th>
    <th>Plan</th>
    <th>Period</th>
    <th>Price</th>
  </tr>

<% @gyms.each do |gym| %>
  <tr>
    <td><%= link_to gym.owner, gym %></td>    
    <td><%= link_to gym.gym, gym %></td>
    <td><%= gym.plan %></td>
    <td><%= gym.period %></td>
    <td><%= number_to_currency(gym.price, :unit => "$") %></td>
  </tr>
<% end %>
</table>